* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: rgb(117, 117, 117);
  background: linear-gradient(
    180deg,
    rgba(117, 117, 117, 1) 0%,
    rgba(18, 18, 18, 1) 36%
  );
  background-repeat: no-repeat;
}
html,
body {
  width: 100%;
  overflow-x: hidden;
}
@media (max-width: 480px) {
  body {
    background: #121212;
  }
}
